{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .bg{
            background-image:url("{% static 'images/background.jpg'%}");
        }
    </style>
</head>
<body class="bg">
<script src="{% static '/js/vue.js'%}"></script>
<script src="{% static '/js/element-ui/lib/index.js'%}"></script>
<link rel="stylesheet" href="{% static '/js/element-ui/lib/theme-chalk/index.css'%}">
<div id = "app">
<div  style="text-align:center">
    <h1>商城购物系统</h1>
</div>
<div style="text-align:center">
<el-button @click="myRedirect('/user_login/')" style="width:30%;margin-bottom:15px;">
    用户登录
</el-button>
</div>
    <div style="text-align:center">
    <el-button @click="myRedirect('/poster_login/')" style="width:30%;margin-bottom:15px;">
    跑腿登录
</el-button>
    </div>
    <div style="text-align:center">
    <el-button @click="myRedirect('/manager_login/')" style="width:30%;margin-bottom:15px;">
    后台登录
</el-button>
    </div>
</div>
<script>
    new Vue({
        el: "#app",
        methods: {
            myRedirect:function (s){
               fetch(s, {
                        method: 'GET',
                    }).then(function(response) {
                        window.location.replace(s)
                    }).catch(function(err) {
                    });
            }
        }
    })
</script>
</body>

</html>