{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>驿站管理</title>
</head>
<body>
<script src="{% static '/js/vue.js'%}"></script>
<script src="{% static '/js/element-ui/lib/index.js'%}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=3.0&ak=1R0nWQNYAZyApzIg8IwgeRUxIpA5KsW9"></script>
<link rel="stylesheet" href="{% static '/js/element-ui/lib/theme-chalk/index.css'%}">
<div id="app">
    <div  style="text-align:right">
        <span>---欢迎您，{{name}}---</span>
        <el-button type="primary" @click="goPoster">跑腿管理</el-button>
        <el-button type="primary" @click="goDistribute">订单管理</el-button>
        <el-button type="danger" @click="goLogin">退出账号</el-button>
    </div>
    <br>
    <div style="text-align:center">
        <el-button type="success" @click="showNew" style="width:30%;margin-bottom:15px;">
            新   增   驿   站
        </el-button>
    </div>
    <br>
    <el-table
      :data="dataTable"
      style="width: 100%">
        <el-table-column
        width="100">
      </el-table-column>
      <el-table-column
        prop="驿站编号"
        label="驿站编号"
        width="300">
      </el-table-column>
      <el-table-column
        prop="驿站地址"
        label="驿站地址"
        width="300">
      </el-table-column>
        <el-table-column
        prop="驿站电话"
        label="驿站电话"
        width="300">
      </el-table-column>
        <el-table-column
        prop="驿站经度"
        label="驿站经度"
        width="300">
      </el-table-column>
        <el-table-column
        prop="驿站纬度"
        label="驿站纬度"
        width="300">
      </el-table-column>
        <el-table-column label="操作" prop="action" align="center">
          <div  slot-scope="scope">
              <el-button type="primary" @click="showChange(scope.$index, scope.row)">修改</el-button>
              <el-button type="primary" @click="showMap(scope.$index, scope.row)">查看地点</el-button>
            <el-button type="danger" @click="deletef(scope.$index, scope.row)">删除</el-button>
          </div>
        </el-table-column>
    </el-table>
    <el-dialog
    title="驿站信息"
    :visible.sync="dialogVisible1"
    width="30%"
    :show-close="show1">
    <el-form ref="form" label-width="80px">
  <el-form-item label="驿站编号">
    <el-input  maxlength="10" type="text" v-model="PNum" :disabled="Pdisable"></el-input>
  </el-form-item>
    <el-form-item label="驿站地址">
    <el-input  maxlength="20" type="text" v-model="PAdd"></el-input>
  </el-form-item>
    <el-form-item label="驿站电话">
    <el-input  maxlength="18" type="text" v-model="PCall"></el-input>
  </el-form-item>
    <el-form-item label="驿站经度">
    <el-input  maxlength="20" type="text" v-model="PX"></el-input>
  </el-form-item>
    <el-form-item label="驿站纬度">
    <el-input  maxlength="10" type="text" v-model="PY"></el-input>
  </el-form-item>
</el-form>
    <span slot="footer" class="dialog-footer">
        <el-button @click="closeDialog1">取 消</el-button>
    <el-button @click="newPoster">确 定</el-button>
    </span>
    </el-dialog>
    <el-dialog
      title="地图"
      :visible.sync="dialogVisible2"
      width="30%">
        <div id="l-map" style="height: 600px"></div>
    </el-dialog>
</div>
<script>
    let table={{ List|safe }};
    let load={
        info:"",
        ope:"",
        id:"{{id}}",
        pwd:"{{ pwd }}",
        mail_num:"",
        MNum:"",
        MAdd:"",
        MCall:"",
        MX:"",
        MY:"",
    };
    const local="/";
    let search=new Vue({
        el:"#app",
        data:{
            dataTable:table,
            dialogVisible2: false,
            show1:true,
            dialogVisible1: false,
            PNum:"",
            PAdd:"",
            PCall:"",
            PX:"",
            PY:"",
            Pdisable:""
        },
        methods:{
            showChange:function (index,row){
                this.dialogVisible1 = true;
                load.ope = "修改";
                this.PNum = row.驿站编号;
                this.PAdd = row.驿站地址;
                this.PCall = row.驿站电话;
                this.PX = row.驿站经度;
                this.PY = row.驿站纬度;
                this.Pdisable = true
            },
            closeDialog1:function(){
                this.dialogVisible1 = false;
            },
            showNew:function (){
                this.Pdisable = false
                this.dialogVisible1 = true;
                load.ope = "新增";
            },
            deletef:function (index,row){
                load.ope = "删除";
                load.mail_num = row.驿站编号;
                fetch("/manager_mail/?name={{name}}&id={{id}}&pwd={{pwd}}", {
                    method: 'POST',
                    mode: 'cors',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(load)
                    }).then(function(response) {
                        // let url = 'http://localhost:8000/setting/?name='+this.name+'&id={{id}}'+'&pwd='+this.resultPwd;
                        window.location.replace("/manager_mail/?name={{name}}&id={{id}}&pwd={{pwd}}")
                    }).catch(function(err) {
                        // 出错了;
                    });
            },
            newPoster:function (){
                load.MNum = this.PNum;
                load.MAdd = this.PAdd;
                load.MCall = this.PCall;
                load.MX = this.PX;
                load.MY = this.PY;
                fetch("/manager_mail/?name={{name}}&id={{id}}&pwd={{pwd}}", {
                    method: 'POST',
                    mode: 'cors',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(load)
                    }).then(function(response) {
                        // let url = 'http://localhost:8000/setting/?name='+this.name+'&id={{id}}'+'&pwd='+this.resultPwd;
                        window.location.replace("/manager_mail/?name={{name}}&id={{id}}&pwd={{pwd}}")
                    }).catch(function(err) {
                        // 出错了;
                    });
            },
            goLogin:function(){
                window.location.replace('/manager_login/')
            },
            goDistribute:function(){
                window.location.replace("/manager_distribute/?name={{name}}&id={{id}}&pwd={{pwd}}");
            },
            goPoster:function(){
                let poster_url = local+'manager_poster/?name={{name}}&id={{id}}&pwd={{pwd}}';
                window.location.replace(poster_url)
            },
            showMap:function(index,row){
                this.dialogVisible2 = true;
                setTimeout(() => {
                    this.baiduMap(row["驿站经度"],row["驿站纬度"])
                }, 0);
            },
            baiduMap(x,y){
                let map = new BMap.Map("l-map");
                map.enableScrollWheelZoom(); //启用滚轮放大缩小，默认禁用
                map.enableContinuousZoom(); //启用地图惯性拖拽，默认禁用
                let point = new BMap.Point(x,y);
                map.centerAndZoom(point, 15);
                let marker = new BMap.Marker(point);        // 创建标注
                map.addOverlay(marker);
            },
        }
    })
</script>
</body>
</html>